/* Index Styling */

html {
  scroll-behavior: smooth;
}
body {
  background: url('/ice-background.jpeg') no-repeat center center fixed;
  background-size: 100% auto; /* <-- changed from cover */
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5); /* fallback for empty space */
  margin: 0;
  font-family: 'Michroma', sans-serif;
  color: #F0F0F0;
}

section {
  scroll-margin-top: 60px;
}

/* Scroll Bar */

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #0B0B0B;
}

::-webkit-scrollbar-thumb {
  background: #1F75FE;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1F75FE; 
}